.top {
  background-image: url("../images/landing.jpg");
}

.im {
  margin-left: 300px;
  margin-top: 90px;
}

.logo {
  text-align: center;
}

#time {
  height: 200px;
}

.happy {
  background-color: white;
  height: 50%;
  /*padding: 53px;*/
  /*width: 100px;*/
}

.party {
  background-color: #F15A29;
  height: 50%;
  /*padding: 65px;*/
  /*width: 100px;*/
}

#food {
  width: 100%;
  float: left;
}

#meals {
  width: 50%;
}

#chaku {
  width: 100%;
  height: 200px;
}

#breakfast {
  background-image: url("../images/breakfast.jpg");
  background-repeat: no-repeat;
  height: 100%;
}

#lunch {
  background-image: url("../images/lunch.jpg");
  background-repeat: no-repeat;
  height: 100%;
}

#dinner {
  background-image: url("../images/dinner.jpg");
  background-repeat: no-repeat;
  height: 100%;
}
